.vscode/**
.vscode-test/**
build/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
scripts/env/**
scripts/.env
**/.env
**/env
**/node_modules

react-app/node_modules
react-app/public
react-app/src

**/.pytest_cache
**/__pycache__

scripts/data
scripts/env