binary/bin
binary/build
binary/out
binary/tmp
core/.continue-test
docs/.docusaurus
docs/**/*.mdx
extensions/.continue-debug
extensions/vscode/continue_rc_schema.json
extensions/vscode/.vscode-test
extensions/vscode/bin
extensions/vscode/build
extensions/vscode/out
extensions/vscode/textmate-syntaxes
extensions/vscode/gui
extensions/vscode/e2e/.test-extensions
extensions/vscode/e2e/test-continue
extensions/vscode/e2e/_output
extensions/vscode/e2e/storage
extensions/vscode/e2e/vsix
extensions/vscode/models
extensions/intellij/src/main/resources
gui/dist
**/.continueignore
.continue/rules/mintlify-formatting.md
CHANGELOG.md
**/continue_tutorial.py
**/node_modules
**/CODEOWNERS
core/vendor
coverage
# e2e
packages/continue-sdk
.conductor