services:
  ollama:
    container_name: ollama-airgapped

    build:
      context: .
      dockerfile: Dockerfile

    image: ollama-airgapped:latest
    restart: unless-stopped

    ports:
      - "127.0.0.1:11434:11434"

    tmpfs:
      - /tmp:size=4g,mode=1777

    pids_limit: 2048
    mem_limit: 16g
    memswap_limit: 24g
    shm_size: 4g
    cpus: "8"

    environment:
      OLLAMA_FORCE_MMAP: "1"
      OLLAMA_NUM_CTX: "2048"
      OLLAMA_NUM_PARALLEL: "1"
      OLLAMA_MAX_LOADED_MODELS: "1"
      OLLAMA_NO_UPDATE: "1"
      OLLAMA_HOST: "0.0.0.0"
      OLLAMA_FLASH_ATTENTION: "0"
      OLLAMA_DEBUG: "true"
      OLLAMA_MODELS: "/root/.ollama/models"
