.vscode/
node_modules/
out/
.vscode-test/
data/
src/client
.shadow-code

exe
bin
assets
tmp

gui/**

.devcontainer
.github

shadow_code_rc_schema.json

e2e/_output
e2e/.test-extensions
e2e/storage
e2e/vsix
e2e/test-continue/*
!e2e/test-continue/config.json
e2e/test-continue-yaml/*
!e2e/test-continue-yaml/config.yaml
config-yaml-schema.json
src/.buildTimestamp.ts