# Used by prepackage.js to copy from node_modules into out/node_modules
public-hoist-pattern[]=@lancedb/*
public-hoist-pattern[]=@esbuild/*
@sap:registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-releases-npm
registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-releases-npm
strict-ssl=false
