.vscode/**
.vscode-test/**
build/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.env
**/env
node_modules/**

**/.pytest_cache
**/__pycache__

manual-testing-sandbox
esbuild.js
importMetaUrl.js
scripts
e2e

server/exe/**
!out/node_modules/**
!node_modules/@vscode/ripgrep/bin/rg

# Do not ship esbuild in VSIX
out/node_modules/esbuild/**
out/node_modules/@esbuild/**
