src/main/resources/webview
!src/main/resources/webview/index.html
src/main/resources/bin
src/main/resources/config_schema.json
src/main/resources/continue_rc_schema.json
video
.intellijPlatform
src/testIntegration/kotlin/com/github/continuedev/continueintellijextension/test-continue/*
!src/testIntegration/kotlin/com/github/continuedev/continueintellijextension/test-continue/config.json