.shortcut-wrapper {
  
}

.keyboard-key {
  font-family: "Inter", monospace;
  letter-spacing: 0.05rem;
  color: var(--vscode-editor-foreground);
  padding: 1px 4px;
  margin: 0.08rem 0.08rem;
}

.keyboard-key-meta {
  font-family: "Inter", monospace;
  font-weight: 300;
}

.keyboard-key-normal {
  font-family: "Jetbrains Mono", monospace;
  font-weight: 300;
}

.separator {
  position: relative;
  top: 0.1rem;
  margin: 0 0.1rem;
  color: var(--vscode-editor-foreground);
}